<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>CaTCloud 2.0</title>
    <link rel="stylesheet" href="./static/login.css">
</head>
<body>
    <div class="cover">

        <div id="profile">
            <div class="profile_teduri"></div>
            <div class="profile_img"></div>
        </div>
        <div class="ment">Please insert your id</div>
        <input id="id" class="idpw" type="text" placeholder="ID">
        <input id="pw" class="idpw" type="password" placeholder="password">
        <div id="go" onclick="login()"></div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/sha256.js"></script>
<script type="text/javascript" src="./static/login.js"></script>
</html>